@model IEnumerable<Truck.Models.FoodTruck>

@{
    ViewBag.Title = "Index";
}

<p>
    <h1 style="color:#F7A51E">Current Truck List</h1>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TruckName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Map)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <b> @Html.DisplayFor(modelItem => item.TruckName)</b>
                @Html.DisplayFor(modelItem => item.Location)
            <b> @Html.DisplayFor(modelItem => item.ID) </b>
                @Html.DisplayFor(modelItem => item.StartTime)
            <b> @Html.DisplayFor(modelItem => item.EndTime) </b>
        </td>
        <td>
            <img height="350" width="350" src="@Url.Content(item.Map)" alt="Map Image"/>
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID }) 
        </td>
    </tr>
}

</table>
